mat-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 10; 
}

.hamburger-button {
    display: none;
}

.title-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-weight: bold;
}

.user-role {
    display: flex;
    margin-right: 16px;
}

@media (max-width: 768px) {
    .hamburger-button {
        display: inline-flex;
    }

    .user-role {
        display: none;
    }

    .title-container {
        justify-content: flex-start;
    }
}